@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    background: #000000;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 50px 0 0 0;
}
header h1 {
    margin: 20px 0 0 0;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 70px auto 0 auto;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}
main input {
    margin: 30px auto 0 auto;
    width: 10%;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    text-align: center;
}
main input:focus {
    border: none;
}
main button {
    width: 11%;
    height: 50px;
    margin: 10px auto 50px auto;
    font-weight: bold;
    font-size: 15px;
    background: #40c4ff;
    color: #FFFFFF;
    cursor: pointer;
}
main button:hover {
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #40c4ff;
}
#aviso-acertou {
    display: inline;
    background: #008307;
}
#aviso-numeros-aceitos {
    display: inline;
    background: #ffe600;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    animation: animate 2s linear infinite;
}
#aviso-errou {
    display: inline;
    background: #FF0000;
}
footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    background: #000000;
}
footer img {
    margin: 0 auto 0 auto;
}